.modal {
  /* border: 1px solid #7CF8FD; */
  /* border: 5px solid white; */
  box-shadow: 0px 0px 10px #5486b9;
  background-color: white;
  /* background-color: #353535; */
  border-color: #5486b9;
  position: fixed;
  top: 200px;
  right: 2%;
  z-index: 10;
  /* right: 0; */
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  /* height: 70vh; */
  border-radius: 10px;
  color: white;
}

.modal_arrow {
  /* border: 1px solid #7CF8FD; */
  /* border: 5px solid white; */
  box-shadow: 0px 0px 10px #5486b990;
  background-color: white;
  /* background-color: #353535; */
  border-color: #5486b9;
  position: fixed;
  top: 370px;
  right: 2%;
  z-index: 10;
  /* right: 0; */
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  height: 170px;
  /* height: 70vh; */
  border-radius: 10px;
  color: white;
}

.thumbnail {
  z-index: 0;
  width: 100%;
  max-height: 230px;
  text-align: center;
}

.thumbnail > img {
  object-fit: cover;
}

.box_thumbnail {
  width: 100%;
  max-height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.box_urlEdit {
  display: flex;
}

#btn:hover {
  /* 必要 */
  opacity: 0.8; /* 透明度を上げることで、画像の色を薄く見せる。*/
  cursor: pointer; /* リンクをホバーしたときのカーソルにする。*/
}

.form-allControl {
  padding-right: 10px;
}
.form-urlControl {
  display: block;
  width: 100%;
  height: 26px;
  padding: 0px 4px 0px 4px;
  /* max-height: 200px; */
  margin: 0px 0px 10px 0px;
  /* background-color: #707070; */
  background-color: white;
  color: #525e6a;
  /* appearance: none; */
  border: 0.5px solid #b4bdc6;
  border-radius: 5px;
  resize: vertical;
}
.form-titleControl {
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px 4px 0px 4px;
  margin: 0px 0px 10px 0px;
  background-color: white;
  color: #525e6a;
  /* appearance: none; */
  border: 0.5px solid #b4bdc6;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  font-weight: 550;
}
.form-summaryControl {
  display: block;
  width: 100%;
  padding: 8px 4px 8px 4px;
  /* max-height: 200px; */
  margin: 0px 0px 10px 0px;
  /* background-color: #707070; */
  background-color: white;
  color: #525e6a;
  /* appearance: none; */
  border: 0.5px solid #b4bdc6;
  border-radius: 5px;
  resize: vertical;
  font-size: 12px;
}

.form-arrowControl {
  /* padding-right: 2px; */
}
.form-arrowNameControl {
  display: block;
  width: 100%;
  height: 26px;
  padding: 0px 4px 0px 4px;
  /* max-height: 200px; */
  margin: 0px 0px 10px 0px;
  /* background-color: #707070; */
  background-color: white;
  color: #525e6a;
  /* appearance: none; */
  border: 0.5px solid #b4bdc6;
  border-radius: 5px;
  resize: vertical;
  text-overflow: ellipsis;
}
.form-arrowTypeControl {
  display: block;
  width: 100%;
  height: 26px;
  padding: 0px 4px 0px 4px;
  /* max-height: 200px; */
  margin: 0px 0px 10px 0px;
  /* background-color: #707070; */
  background-color: white;
  color: #525e6a;
  /* appearance: none; */
  border: 0.5px solid #b4bdc6;
  border-radius: 5px;
  resize: vertical;
  text-overflow: ellipsis;
}

label {
  /* width: 100%; */
  color: #525e6a;
}

.box_footerButton {
  width: 100%;
  padding: 10px 0px 10px 0px;
  display: flex;
}
.footerButton {
  display: flex;
  margin: 0 0 0 auto; /* 右寄せ */
}

.body {
  padding: 10px 10px 0px 10px;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}

/* .imgaaa {
    border-radius: 4px 0 0 0;
} */

.btn_get {
  width: 50px;
  height: 27px;
  border-radius: 5px;
  /* text-align: center; */
  /* border: 1px solid #525e6a; */
  border: none;
  background-color: #525e6a;
  line-height: 22px;
  margin: 0px 0px 0px 5px;
  padding: 0 auto;
}
.text_get {
  font-size: 14px;
  color: #ffffff;
}
.btn_delete {
  width: 50px;
  height: 28px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #525e6a;
  background-color: #ffffff;
  line-height: 28px;
  margin-left: 10px;
}
.text_delete {
  font-size: 14px;
  color: #525e6a;
}
.btn_save {
  width: 50px;
  height: 28px;
  border-radius: 5px;
  text-align: center;
  background-color: #5486b9;
  line-height: 28px;
  margin-left: 10px;
}
.text_save {
  font-size: 14px;
  color: #ffffff;
}

.box_tool {
  z-index: 1;
  position: absolute;
  width: 100%;
  margin: auto 0px 0px 0px;
}
.btn_tabOpen {
  width: 25px;
  height: 25px;
  margin: 5px 5px 0px auto;
  /* background-image: url(../src/assets/images/icons/icons_tabopen.png); */
  /* background-color: #00000010; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}
.img_tabOpen {
  width: 25px;
  opacity: 0.5;
}
.img_tabOpen:hover {
  /* width: 25px; */
  opacity: 1;
}
