#btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.center_objecto {
  position: absolute; /* body全体を指定 */
  top: 50%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
}

.serviceLogo {
  width: 300px;
  position: absolute; /* body全体を指定 */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-120%) translateX(-50%); /* 要素自体の半分左にずらす */
}

.name_service {
  width: 100%;
  margin-bottom: 90px;
  line-height: 50px;
  color: #5486b9;
  text-align: center;
  text-shadow: 0px 0px 10px #5486b990;

  /* ▼ Codystar ▼ */
  font-size: 100px;
  font-family: "Codystar", "Batang", serif;
  letter-spacing: -4px;

  /* ▼ Gelasio ▼ */
  /* font-size: 110px;
  font-family: "Gelasio", "Batang", serif; */

  /* ▼ Unna ▼ */
  /* font-size: 130px;
  font-family: "Unna", "Batang", serif;
	letter-spacing: -4px; */

  /* ▼stix-two-math▼ */
  /* font-size: 120px;
  font-family: stix-two-math, "Batang", serif; */
}

.box_loginEmail {
  width: 400px;
  height: 40px;
  border-radius: 10px; /* 角丸       */
  border: solid 1px #b4bdc6; /* 枠の指定 */
  margin: 10px;
}
.box_loginEmail:hover {
  box-shadow: 0px 0px 6px #5486b9;
  transition-duration: 0.5s;
}
.input_loginEmail {
  width: 95%;
  font-size: 14px;
  margin: 10px 10px 10px 10px;
  border: none;
  color: #525e6a;
  resize: vertical;
  text-overflow: ellipsis;
}

.box_loginPassword {
  width: 400px;
  height: 40px;
  border-radius: 10px; /* 角丸       */
  border: solid 1px #b4bdc6; /* 枠の指定 */
  margin: 10px;
}
.box_loginPassword:hover {
  box-shadow: 0px 0px 6px #5486b9;
  transition-duration: 0.5s;
}
.input_loginPassword {
  width: 95%;
  font-size: 14px;
  margin: 10px 10px 10px 10px;
  border: none;
  color: #525e6a;
  resize: vertical;
  text-overflow: ellipsis;
}

.login_passInfo {
  font-size: 14px;
  color: #b4bdc6;
  text-align: center;
}

.btn_login {
  width: 100px;
  height: 20px;
  margin: 40px 150px 15px 150px;
  display: inline-block;
  border-radius: 10px; /* 角丸       */
  font-size: 13pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 10px; /* 余白       */
  background: #6f9fd0; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  text-decoration: none; /* テキストアンダーライン */
}
.btn_login:hover {
  background: #5486b9; /* 背景色     */
  color: #ffffff; /* 文字色     */
  transition-duration: 0.5s;
}

.login_signupInfo {
  font-size: 14px;
  color: #b4bdc6;
  font-weight: bold;
  text-align: center;
}
