body {
  /* 画像ファイルの指定 */
  background-image: url(../images/wallpapers/Irises_1890_VincentVanGogh.jpg);
  /* background-image: url(../images/wallpapers/StillLifeWithLemonsOrangesAndaPomegranate_1647_JacobVanHulsdonck.jpg); */
  /* background-image: url(../images/wallpapers/StillLifeWithOystersAndGrapes_1684_JanDavidszDeHeem.jpg); */

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #5486b9;
}

#btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.center_objecto {
  position: absolute; /* body全体を指定 */
  top: 50%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
}

.serviceLogo {
  width: 300px;
  position: absolute; /* body全体を指定 */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-120%) translateX(-50%); /* 要素自体の半分左にずらす */
}

.name_service {
  width: 100%;
  margin-bottom: 90px;
  line-height: 50px;
  /* color: #5486b9; */
  color: #ffffff;
  text-align: center;
  /* text-shadow: 0px 0px 10px #5486b990; */
  text-shadow: 0px 0px 10px #00000070;

  /* ▼ Codystar ▼ */
  /* font-size: 100px;
  font-family: "Codystar", "Batang", serif;
  letter-spacing: -4px; */

  /* ▼ Gelasio ▼ */
  /* font-size: 110px;
  font-family: "Gelasio", "Batang", serif; */

  /* ▼ Unna ▼ */
  font-size: 130px;
  font-family: "Unna", "Batang", serif;
  letter-spacing: -4px;

  /* ▼stix-two-math▼ */
  /* font-size: 120px;
  font-family: stix-two-math, "Batang", serif; */
}

.box_loginEmail {
  width: 400px;
  height: 40px;
  border-radius: 10px; /* 角丸       */
  border: solid 1px #ffffff80; /* 枠の指定 */
  margin: 10px;
  background-color: #ffffff40;
}
.box_loginEmail:hover {
  border: solid 1px #ffffff; /* 枠の指定 */
  /* box-shadow: 0px 0px 6px #5486b9; */
  text-shadow: 0px 0px 10px #ffffff;
  background-color: #a5a39e;
  transition-duration: 1s;
}
.input_loginEmail {
  width: 95%;
  font-size: 18px;
  margin: 8px 20px 8px 20px;
  border: none;
  /* color: #525e6a; */
  color: #ffffff;
  resize: vertical;
  text-overflow: ellipsis;
  background-color: transparent;
  letter-spacing: 1px;
}

.box_loginPassword {
  width: 400px;
  height: 40px;
  border-radius: 10px; /* 角丸       */
  border: solid 1px #ffffff80; /* 枠の指定 */
  margin: 10px;
  background-color: #ffffff40;
}
.box_loginPassword:hover {
  border: solid 1px #ffffff; /* 枠の指定 */
  /* box-shadow: 0px 0px 6px #5486b9; */
  text-shadow: 0px 0px 10px #ffffff;
  background-color: #a5a39e;
  transition-duration: 1s;
}
.input_loginPassword {
  width: 95%;
  font-size: 18px;
  margin: 8px 20px 8px 20px;
  border: none;
  /* color: #525e6a; */
  color: #ffffff;
  resize: vertical;
  text-overflow: ellipsis;
  background-color: transparent;
  letter-spacing: 1px;
}

::placeholder {
  color: #ffffff90;
}

.login_passInfo {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.btn_login {
  width: 100px;
  height: 20px;
  margin: 40px 150px 15px 150px;
  display: inline-block;
  border-radius: 10px; /* 角丸       */
  font-size: 13pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 10px; /* 余白       */
  background: #6f9fd0; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  text-decoration: none; /* テキストアンダーライン */
}
.btn_login:hover {
  background: #5486b9; /* 背景色     */
  color: #ffffff; /* 文字色     */
  transition-duration: 0.5s;
}

.login_signupInfo {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.link {
  text-decoration: none;
}
